{
  "swagger": "2.0",
  "info": {
    "description": "This is the API description for  PlayJoomDaemon server.",
    "version": "1.0.0",
    "title": "PlayJoomDeamon API",
    "contact": {
      "email": "admin@teglo.info"
    },
    "license": {
      "name": "GPLv2",
      "url": "https://www.playjoom.org/en/about/licenses/gnu-general-public-license.html"
    }
  },
  "host": "playjoom.org",
  "basePath": "/api",
  "tags": [
    {
      "name": "playjoom",
      "description": "Play your own music.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://www.playjoom.org"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/audiotrack/{Id}": {
      "get": {
        "tags": [
          "Audiotrack"
        ],
        "summary": "Get an audiotrack by ID",
        "description": "Returns binary data of audiotrack",
        "operationId": "getAudiotrack",
        "produces": [
          "audio/mpeg"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "ID of audiotrack to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Binary audio data"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Audiotrack not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/user/getToken": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Get user token",
        "description": "All operations need a valid user token for to get access to API datas",
        "operationId": "UserToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Created user credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/ResUserToken"
            }
          },
          "400": {
            "description": "Invalid username/password"
          }
        }
      }
    },
    "/getAlbum": {
      "post": {
        "tags": [
          "Album"
        ],
        "summary": "Get user token",
        "description": "All operations need a valid user token for to get access to API datas",
        "operationId": "getAlbum",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Created user credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Album"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/ResUserToken"
            }
          },
          "400": {
            "description": "Invalid username/password"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "UserToken": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Album": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int255"
        },
        "title": {
          "type": "string"
        },
        "album": {
          "type": "string"
        },
        "artist": {
          "type": "string"
        },
        "year": {
          "type": "integer",
          "format": "int4"
        },
        "add_datetime": {
          "type": "string",
          "format": "datetime"
        },
        "add_by": {
          "type": "string"
        },
        "mod_datetime": {
          "type": "string",
          "format": "datetime"
        },
        "mod_by": {
          "type": "string"
        },
        "coverid": {
          "type": "integer",
          "format": "int11"
        },
        "hits": {
          "type": "integer",
          "format": "int11"
        },
        "pathatlocal": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "traqcknumber": {
          "type": "integer",
          "format": "int32"
        },
        "mediatype": {
          "type": "string"
        },
        "bit_rate": {
          "type": "integer",
          "format": "int16"
        },
        "sample_rate": {
          "type": "integer",
          "format": "int16"
        },
        "channels": {
          "type": "integer",
          "format": "int2"
        },
        "channelmode": {
          "type": "string"
        },
        "filesize": {
          "type": "integer",
          "format": "int64"
        },
        "length": {
          "type": "double"
        },
        "catid": {
          "type": "integer",
          "format": "int11"
        },
        "catname": {
          "type": "string"
        },
        "access": {
          "type": "integer",
          "format": "int11"
        }
      }
    },
    "ResUserToken": {
      "type": "object",
      "properties": {
        "usertoken": {
          "type": "string"
        },
        "expires": {
          "type": "string",
          "format": "datetime"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}