doctype transitional
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', type='image/x-icon', href='/images/favicon.png')
  body
    block content
    block footer